body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 5px;
	/*margin: 10px 20px;*/
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
	left:0px;
	width:100%;
	position:fixed;
	bottom:0px;
	background:#F8F8F8;
	z-index:99999;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}
.form{
	margin-top: 20px;
}
div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #F5F5F5;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-color: #ddd;
}

.portlet
{

}
.control-label{
	text-align: left !important;
}
.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.back-to-top 
{
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

.vertical-align-middle
{
	 vertical-align: middle;
}

.panel-button-group{
	padding: 2px 17px 2px 21px !important;
}

/*start menu lateral*/
#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  /*background: #000;*/
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#wrapper.active {
  padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
  left: 0;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}


.content-header {
  height: 40px;
  line-height: 65px;
  font-size: 20px;
   
}



#menu-toggle {
    text-decoration: none;
}

.btn-menu {
  color: #000;
} 

.inset {
  padding: 20px;
}

@media (max-width:767px) {

	#wrapper {
	  padding-left: 0;
	}

	#sidebar-wrapper {
	  left: 0;
	}

	#wrapper.active {
	  position: relative;
	  left: 250px;
	}

	#wrapper.active #sidebar-wrapper {
	  left: 250px;
	  width: 250px;
	  transition: all 0.4s ease 0s;
	}

	#menu-toggle {
	  display: inline-block;
	}

	.inset {
	  padding: 15px;
	}

}
/*end menu lateral*/

/*start botões das grids*/
.view, .update, .delete{
	padding: 2px 5px 2px 5px !important; 
	font-size: 16px; 
	color: #555;
}
/*end botões das grids*/

.combo-select{
	width: 100% !important;
	height: 100px !important;
	padding: 3px !important;
	overflow: auto !important;
}
.combo-select label{
	padding: 3px !important;
	font-weight: normal !important;
}
.combo-select label:hover{
	background-color: #EEEEEE !important;
}
.navbar, .navbar-header, .nav .dropdown-toggle,.panel-heading-menu,.line-table-download-topo{
    background-color:#D9534F !important;

}
.panel-heading-menu:hover{

	background-color: #B03A1C !important;
}
.panel-menu {
	border-color: #D9534F !important;
}
.panel-heading-menu{
	color: #fff !important;
}
.navbar{
    border-bottom: 4px solid #B03A1C !important; 

}
.navbar a{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav-list a{
	color: #D9534F !important;
}
.breadcrumb{
    background-color:#D6D6D6 !important;
    border-color:#D6D6D6 !important; 
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar-brand img{
    margin-top: -10px !important;
}
.nav-lefts{
    padding:5px;
    border: 1px dotted #ccc;
   
}
.nav-lefts li a{
    padding-top: 2px;
    padding-bottom: 2px;
}
.nav-lefts li{
    margin-left:0px;
}
#footer {
position: fixed !important;
background-color: #F7F7F7;
border-top: 1px solid #DDD;
font-size: 11px;
overflow: auto;
}
#footer #footer-content {
padding: 10px 15px;
display: inline-block;
float: left;
}
#footer #footer-user-display-name {
display: inline-block;
float: right;
padding: 10px 15px;
font-weight: bold;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 5px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;

  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;

}
.form-required{
    display: none;
}

.line-table-download-topo{
	color: #fff;
}
.line-table-download-topo th{
	width:17%;
	text-align:center;
}
.line-table-download-corpo a,.semdoc{
	font-size:50px;
	color:#d9534f;
}
.line-table-download-corpo a:hover{
	color:#B03A1C;
}
.line-table-download-corpo td{
	text-align:center;
}
.a-icon-import{
	text-decoration: none !important;
}
.div-icon-import{
	padding: 40px;
	background-color: #D9534F;
	border: 1px solid #D9534F;
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
}
.div-icon-import:hover{
	color: #D9534F;
	background-color: #fff;
}

.div-icon-import-aguarde{
	padding: 40px;
	background-color: #f79b9b;
	border: 1px solid #f79b9b;
	color: #ECECEC;
	text-align: center;
	margin-bottom: 20px;
	display: none;
}
.div-icon-import-erro{
	padding: 40px;
	background-color: #000;
	border: 1px solid #000;
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
	display: none;
}
.div-icon-import-erro:hover{
	color: #000;
	background-color: #fff;
}

.div-icon-import-pendencia{
	padding: 40px;
	background-color: #F0AD4E;
	border: 1px solid #F0AD4E;
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
	display: none;
}
.div-icon-import-sucesso{
	padding: 40px;
	background-color: #5BC0DE;
	border: 1px solid #5BC0DE;
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
	display: none;
}

.div-icon-import .glyphicon-cloud-upload,
.div-icon-import-aguarde .fa-spin,
.div-icon-import-erro .glyphicon-remove,
.div-icon-import-pendencia .glyphicon-warning-sign,
.div-icon-import-sucesso .glyphicon-ok{
	font-size: 50px;
	margin-bottom: 10px;
}